@import "../../variables";

.main-container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  background: no-repeat center center fixed;
  background-size: cover;
  animation: backgroundAnimation 1s;
  transition: background 0.2s ease-in-out ;
}

@keyframes backgroundAnimation {
  from {opacity: 0.2;}
  to {opacity: 1;}
}

.slider-positioner {
  @include tablet {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 60%;
  }
}

.slider {
  position: relative;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 50vh;
  align-items: center;
  transition: transform 0.5s;
  user-select: none;

  @include tablet {
    height: 550px;
  }
}

.slide {
  height: 100%;
  margin: 5px 20px;
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: height 2s, opacity 2s;

  @include tablet {
    height: 400px;
    display: block;

    &.active {
      height: 500px;
    }
  }

  &.active, &.next-active {
    opacity: 1;
  }
}

.text-container {
  padding: 20px 10%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2, .description {
    color: white;
    text-shadow: black 1px 0 10px;
    line-height: 1.1;
  }

  h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .description {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.2;
  }

  @include tablet {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 10%;
    width: 40%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    h2 {
      font-size: 4.5rem;
    }

    .description {
      font-size: 1rem;
    }


  }

  @include full-hd {
    h2 {
      font-size: 7.5rem;
    }

    .description {
      font-size: 1rem;
    }
  }



  button.explore {
    margin: 2rem 0 0;
    color: #37474f;
    transition: color 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    min-width: 150px;
    max-width: 250px;
    display: inline-block;
    padding: 1em 2em;
    border: none;
    background: none;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    outline: none;

    i {
      font-size: 1.1rem;
      margin-left: 5px;
    }

    &::after,
    &::before {
      background: white;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      box-sizing: border-box;
      user-select: none;
    }

    &::before {
      content: '';
      position: absolute;
      border-radius: inherit;
      z-index: -1;
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
      opacity: 0.4;
      transform: scale3d(0.7, 1, 1);
      transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      border-radius: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale3d(1.1, 1, 1);
      transition: transform 0.3s, background-color 0.3s;
    }

    &:hover {
      &::before {
        transform: scale3d(1, 1, 1);
      }

      &::after {
        transform: scale3d(1, 1, 1);
      }
    }
  }
}
