@import "../../variables";

$animation-time: 0.1s;

.unmissable-teaser {
  position: relative;
  flex: 1 0 80%;
  height: 20rem;
  background: no-repeat center center;
  background-size: cover;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;

  @include wide-screen {
    flex: 1 0 40%;
  }

  @include full-hd {
    flex: 1 0 25%;
  }


  &:hover {
    &::after {
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
    }
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    top: 0.5rem;
    right: 0.5rem;
    width: calc(50% - 0.5rem);
    height: calc(100% - 1rem);
    background: white;
    transition: top $animation-time ease-out, right $animation-time ease-out, width $animation-time ease-out, height $animation-time ease-out;
  }

  i {
    color: black;
    opacity: 0.05;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%) rotate(10deg);
    right: 0;
    font-size: 10rem;
  }

  .half-unmissable-title {
    color: white;
    position: absolute;
    font-size: 2.3em;
    font-weight: bold;
    margin: 0 auto;
    top: 50%;
    white-space: pre-wrap;
    transform: translateY(-50%);
    user-select: none;

    @include wide-screen {
      font-size: 3em;
    }

    &.first {
      color: white;
      right: 50%;
      text-shadow: black 0.1rem 0 0.5rem;
    }

    &.second {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      text-indent: 50%;
      color: black;
      background: no-repeat center center;
      background-image: inherit;
      background-size: cover;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
}
