$underline-height: 0.2rem;

.main-navigation-bar {
  position: absolute;
  z-index: 10;

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  ul {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;

    li {
      margin: 1.2rem 0;
      position: relative;

      i.fa {
        font-size: 2rem;
        cursor: pointer;
        transition: transform 0.3s ease-out;
        text-shadow: #101622 .1rem 0 0.5rem;

        &:hover {
          transform: scale(1.2);
        }
      }

      a {
        color: inherit;
        text-decoration: inherit;
        padding: 1rem;

        &::after {
          display: block;
          content: "";
          position: absolute;
          height: $underline-height;
          width: 80%;
          bottom: - $underline-height;
          left: 10%;
          transform: translateY(0.3rem) scale(0.8);
          background: currentColor;
          opacity: 0;
          transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        }

        &:hover {
          &::after {
            opacity: 1;
            width: 80%;
            transform: translateY(0) scale(1);
          }
        }

        &.bold {
          font-weight: 600;
        }
      }
    }
  }
}
