.city-page-background-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;

  &::before {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: white;
    z-index: 1;
  }

  h1 {
    background-image: inherit;
  }

  h1 span {
    color: white;
    position: absolute;
    font-size: 12rem;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;

    &.first {
      color: white;
      right: 50%;
      text-shadow: black 1px 0 10px;
    }

    &.second {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      text-indent: 50%;
      color: black;
      background: no-repeat center center;
      background-image: inherit;
      background-size: cover;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  .scroll-icon {
    transform: translateX(-150%);
  }
}

.city-page-main-container {
  margin: 0 auto;
  max-width: 1408px;
  background: white;

  p {
    margin: 1rem 2rem;
  }

  .unmissables-container {
    display: flex;
  }
}


