@import "reset";
@import "src/components/Cities/city";
@import "./color";
@import "src/components/Slider/slider";
@import "src/components/Nav/dot-navigation";

.app {
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
