@import "reset";
@import "variables";
@import "src/components/Cities/city-teaser";
@import "src/components/Cities/city-page";
@import "src/components/NavigationBar/navigation-bar";
@import "src/components/Unmissables/unmissable-teaser";
@import "src/components/Unmissables/unmissable-section";
@import "src/components/Slider/slider";
@import "src/components/Slider/slider-dot-navigation";
@import "src/components/ScrollIcon/scroll-icon";

.app {
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

html, body {
  max-width: 100%;
  line-height: 1.6rem;
}

strong {
  font-weight: 600;
}
